a.btn.btn-danger.pull-left.top-btn(ng-click='remove()', role='button')
  i.icon-remove.icon-white
  |  Delete this Drawing

a.btn.btn-primary.pull-right.top-btn(ng-href='/s/drawings/{{drawing.id}}/edit', role='button')
  i.icon-edit.icon-white
  |  Edit this Drawing

table.table.table-bordered
  tbody
    tr
      td.span2
        strong Drawing #
      td {{drawing.number}}
    tr
      td.span2
        strong Description
      td {{drawing.description}}
    tr
      td.span2
        strong Notes
      td
        pre {{drawing.notes}}