!!!
html
  head
    block head
      title= title
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      //- link(rel='stylesheet', href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
      link(rel='stylesheet', href="/lib/bootstrap.min.css")
      link(rel='stylesheet', href="/lib/bootstrap-responsive.min.css")
      link(rel='stylesheet', href='/css/base.css')

      block css
  body
    include header
    block content
    include footer

    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    //- script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js")
    //- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.js")

    script(src="/lib/jquery.min.js")
    script(src="/lib/angular-ui-ieshiv.min.js")
    script(src="/lib/bootstrap.min.js")

    block js
