body
  padding-top 60px

.dropdown-login
    border 1px solid #e3e3e3
    background-color #f5f5f5

.dropdown-login > li
    padding 10px

.select2-container
    width: 220px

.right-column
    border-left 1px solid #dddddd
    border-top 1px solid #dddddd
    margin-top 38px
    padding 18px 0 0 20px
    min-height 100%

.top-btn
    margin-bottom 10px

.well-header
    margin-left 50px

.center
    text-align center
