form(id="drawingForm", name="drawingForm", ng-submit="save()")

  div.top-btn.pull-right
    button.btn(ng-click="cancel()") Cancel
    button.btn.btn-primary(type="submit") Save

  table.table.table-bordered
    tbody
      tr
        td.span2
          strong Program #
        td {{program.number}}
      tr
        td.span2
          strong Location
        td
          input(type="text", name="location", ng-model="program.location", placeholder="Location (e.g. USB 1)")
      tr
        td.span2
          strong Description
        td
          input(type="text", name="description", ng-model="program.description", placeholder="Description")
      tr
        td.span2
          strong Notes
        td
          textarea(name="notes", ng-model="program.notes", placeholder="Notes")